.section {
  &.two {
    text-align: center;
    h2 {margin-bottom: 50px;}
      .skillwrapper {
        background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,1) 100%);
        box-shadow: 0 2px 11px 0 rgba(0,0,0,0.75);
        padding: 70px 0;
        position: relative;
        .pin-top {
          position: absolute;
          top: 70px;
          width: 100%;
          z-index: 1;
          &.shown{
            z-index: 2;
          }
        }
        .closeBtn {
          font-size: 35px;
          position: absolute;
          right:10px;
          top:10px;
          z-index: 8;
          cursor: pointer;
          color:theme-color("GCDevelopmentOrange");
        }
        .fa-chevron-right, .fa-chevron-left {
          font-size: 2em;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
            color: rgba(255,255,255,0.65);
            &:hover {
              color: rgba(255,255,255,1);
            }
        }
        .developmentContent {
          display: inline-block;
          .skill-logo {
            width: 130px;
            display: inline-flex;
            margin: 20px 40px 20px 20px;
          }
          h4 {display: inline-flex; font-size: 30px;}
          p {text-align: left;}
        }
      }
      .rv-radial-chart {
        overflow: visible;
        display: inline-block;
        cursor: pointer;
        svg{
          overflow: visible;
        }
        .rv-xy-plot__circular-grid-lines{
          circle {
            fill:none;
            stroke:#138fc2;
            stroke-width:1;
          }
        }
        text {
          fill:#fff;
          font-family: sans-serif;
        }
      }
  }
}
