#spaceInvaders{
  background: #e7e7e7 url('http://plo:8888/images/spaceinvaders-bg.jpg') no-repeat scroll center center / cover; overflow: hidden;
}
.section {
  .game-wrapper  {
    overflow: hidden;
    height: 250px;
    width:100%;
    font-family: 'Space-Invaders';
    opacity: 1;
    position: relative;
    &.playing {
      height:500px;
      @media(max-width: 600px){
        height:100vh;
        width: 100vw;
      }
    }
    .Enemy {
      width:50px;
      height:50px;
      position: absolute;
      .enemyBox{fill:#344bd1;}.\37 d1cb29a-1447-4902-a2d5-4c84805d307f,.\39 1294199-2b74-48ec-82a6-2b4c651e75d8,.af26072c-5bc7-4c0e-8b54-9671fc8448e1,.dc3f6668-9a52-4c9c-aee6-b3f25c446e8b{stroke:#000;stroke-miterlimit:10;}.\37 c13dfcb-3e57-4320-96f6-90d519a9df5d{fill:#fcfbfa;}.\39 1294199-2b74-48ec-82a6-2b4c651e75d8{fill:none;}.dc3f6668-9a52-4c9c-aee6-b3f25c446e8b{fill:#8ec9ed;}.af26072c-5bc7-4c0e-8b54-9671fc8448e1{fill:#020202;}.ee79cc9f-2402-4eec-80b5-b9f6ae7de849{fill:#fcfcfc;}
    }
    .Player {
      width:50px;
      height:50px;
      .\37 8090e7c-762f-4943-af1a-48c917c788b1{fill:#f7c341;}.\35 c12e2b7-dd17-4fab-875d-10081085816e{fill:#020202;stroke:#000;stroke-miterlimit:10;stroke-width:10px;}.\30 dd9f44c-7e2a-4ea6-831b-a3e45c816997{fill:#fcfcfc;}
    }
    .hud {
      position: fixed;
      z-index: 2;
      top:0;
      left:0;
      right:0;
      height:40px;
      box-shadow: 0 2px 11px 0 rgba(0,0,0,0.75);
      background: rgba(0,0,0, .9);
      padding:5px 15px;
      .btn {
        font-weight: 100;
        float: left;
        font-size: 15px;
        border: 1px #fff solid;
        padding: 3px 3px 1px;
        transition: all 0.3s ease-in-out;
        &:hover, &:active {
          color:#e35110;
          border: 1px #e35110 solid;
        }
      }
      .score {
        color: #e35110;
        font-weight: 400;
        font-size: 16px;
        float: right;
        text-decoration: underline;
        margin: 3px 5px 0px;

      }
    }
    #floatingBulletImage {
      fill:url(#floatingBulletImageGradient);
      width: 10px;
      height:10px;
      position:absolute;
    }
    .explosion {
      margin:0;
      img {
        min-width: 800px;
        min-height: 400px;
        position: absolute;
        top:0;
        left:0;
      }
    }
  }
  .GameIntroWrapper {
    overflow: hidden;
    height: 100%;
    width:100%;
    font-family: 'Space-Invaders';
    h2 {
      position: absolute;
      left:0;
      right:0;
      top:20%;
      text-decoration: none;
      font-size: 32px;
      text-align: center;
      position: relative;
      text-transform: uppercase;
      margin-top: 0px;
    line-height: 1;
    }
    .startBtn, .saveName {
      position: absolute;
      left:50%;
      bottom:50px;
      font-weight: 100;
      float: left;
      font-size: 16px;
      border: 3px #fff solid;
      padding: 9px 8px 6px;
      border-radius: 3px;
      transform: translate(-50%, -50%);
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      box-shadow: 0px 10px 22px -5px rgba(0,0,0,0.75);
      &:hover {
        color:#e35110;
        border: 3px #e35110 solid;
      box-shadow: 0px 10px 47px -5px rgba(0,0,0,0.75);
      }
      &:active {
      box-shadow: 0px 10px 89px 17px rgba(0,0,0,0.36);
      }
    }
    .floatingStar {
      fill:url(#floatingStarGradient);
      width: 10px;
      height:10px;
      position: absolute;
      bottom: 150px;
      &.a{
        left:15px;
        -webkit-animation-name: Floating;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        animation-delay: 0s;
        width: 5px;
        height:5px;
      }
      &.b{
        left:35px;
        -webkit-animation-name: Floating;
        -webkit-animation-duration: 1.5s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        animation-delay: 0.5s;
        width: 10px;
        height:10px;
      }
      &.c{
        left:135px;
        -webkit-animation-name: Floating;
        -webkit-animation-duration: 3.5s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        animation-delay: 1.5s;
        width: 12px;
        height:12px;
      }
      &.d{
        left:235px;
        -webkit-animation-name: Floating;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        animation-delay: -0.5s;
        width: 12px;
        height:12px;
      }
      &.e{
        left:335px;
        -webkit-animation-name: Floating;
        -webkit-animation-duration: 0.8s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        animation-delay: -2s;
        width: 12px;
        height:12px;
      }
    }
    &.gameOver {
      .scoreWrapper{
        left: 0;
        right: 0;
        top: 22%;
        position: relative;
        text-align: center;
        .score {
          text-align: center;
          text-transform: uppercase;
          color: #FFF;
          margin: 15px auto;
          display: block;
          font-weight: bold;
          font-size: 20px;
          &.number{
            color:#e35110;
            width: 25%;
            text-align: left;
          }
        }
      }

      .scoreInput {
        position: relative;
        top: 22%;
        .form-group{
          text-align: center;
          position: relative;
          label {
            display: inline-block;
            width: 35%;
            font-size: 20px;
          }
          .field {
            display: inline-block;
            width: 25%;
            border-bottom:2px #e35110 solid;
            input {
              background-color: transparent;
              border:none;
              border-radius: 0;
              padding-bottom: 0;
              color:  #e35110;
              height: 19px;
              font-size: 20px;
              padding-left: 0;
            }
          }
        }
      }
      .saveName {
        margin-top: 37px;
        background: rgba(255,255,255, 1);
        padding: 3px 12px 0px;
        color: #3966aa;
        line-height: 1.4;
        &:hover {
          color:  #e35110;
          background: rgba(255,255,255, 0);
        }
      }
    }
    .topScores {
      max-width: 50%;
      margin:0 auto;
      position: relative;
      top:120px;
      text-align: center;
      li, ol {
        padding:1px 0;
        color: #71c5f4;
      }
    }
  }
}

@-webkit-keyframes Floating{
    from {
			-webkit-transform:translate(0, -0px);
			opacity:0;
		}
    50% {opacity:1;}
    to {
			-webkit-transform: translate(0px, -500px);
			opacity:0;
		}
}
@-webkit-keyframes Explosion {
    from {
			opacity:0;
      -webkit-transform: scale(1);
		}
    50% {
      opacity:1;
      -webkit-transform: scale(1.7);
    }
    to {
			opacity:0;
      -webkit-transform: scale(2);
		}
}
