
.foreground {
  background: url('banner-fg.png') no-repeat scroll center bottom 0px / 100% auto;
  @media(max-width: 767px){
    background: url('../images/banner-fg-mb.png') no-repeat scroll center bottom 0px / 100% auto;
  }
}
.overlay:before {
    background: #75cbe7;
    background: -webkit-gradient(linear, left top, left bottom, from(#75cbe7), to(#138fc2));
    background: linear-gradient(to bottom, #75cbe7 0%, #138fc2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75cbe7', endColorstr='#138fc2', GradientType=0);
    color: #ffffff;
}

.header-text {
  margin: 0;
  text-align: center;
  h1 {
    font-family: "Space-Invaders";
    color:#fff;
    line-height: 1.4;
    @media(max-width: 1024px){
      font-size: 1.8em;
    }
    @media(max-width: 576px){
      font-size: 1.5em;
    }
  }
  .intro-links {
    color: #fff;
    font-size: 30px;
    display: inline-block;
    width: 100px;

    .fa-code, .fa-address-book {
      transition: all 0.2s ease-in-out;
      color: #fff;
      display: block;
      text-align: center;
      margin: 20px auto;
      border: 5px #fff solid;
      border-radius: 5px;
      width: 60px;
      height:50px;
      padding:5px;
      background: rgba(0,0,0, 0.8);
    }
    &:hover, &:focus {
      .fa-code, .fa-address-book {
        color:#e35110;
        border: 5px #e35110 solid;
      }
    }
    @include media-breakpoint-up(lg) {
     }
  }
}
