
.foreground {
  background: url('banner-fg.png') no-repeat scroll center bottom 0px / 100% auto;
  @media(max-width: 767px){
    background: url('../images/banner-fg-mb.png') no-repeat scroll center bottom 0px / 100% auto;
  }
}
.overlay:before {
    background: #75cbe7;
    background: -webkit-gradient(linear, left top, left bottom, from(#75cbe7), to(#138fc2));
    background: linear-gradient(to bottom, #75cbe7 0%, #138fc2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75cbe7', endColorstr='#138fc2', GradientType=0);
    color: #ffffff;
}

.header-text{
  margin: 0;
  text-align: center;
  h1 {
    font-family: "Space-Invaders";
    color:#fff;
    line-height: 1.4;
  }
  .btn-intro {
    width: 150px;
  }
  li {
    font-size: 30px;
    color:#fff;
    padding:10px 0;
    font-weight: 100;
    & span {color:#e35110;font-weight: bold;}
  }
}
